pip>=24.1.2
bump2version>=1.0.1
wheel>=0.43.0
watchdog>=4.0.1
flake8>=7.1.0
isort>=5.13.2
tox>=4.16.0
pytest>=8.3.5
coverage[toml]>=7.8.0
pytest-cov>=6.1.1
Sphinx==3.4.3
twine==3.3.0
pytest-runner==5.2
